* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f2d7ee;
}
.date-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}
.date-label {
  color: #0e103d;
  font-size: 25px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.countdown-heading {
  color: #0e103d;
  font-size: 50px;
  text-align: center;
}
.countdown-heading-span {
  margin: 10px;
  color: #69306d;
}

.countdown-container {
  display: flex;
  flex-direction: row;
}

.container-item {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
  text-align: center;
  color: #0e103d;
  font-size: 25px;
}

.container-item-span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3bcc0;
  border-radius: 50%;
  font-size: 30px;
  color: #69306d;
  width: 100px;
  height: 100px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .date-container {
    top: 10px;
    right: 20px;
  }

  .timer-container {
    margin-top: 30px;
  }
  .countdown-container {
    display: flex;
    flex-direction: column;
  }
}
